:root {
  --primary-color: #EB615B;
}

body {
  /* background-color: #1D1D20; */
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 9px;
  font-size: 12px;
  opacity: 45%;
  display: block;
  text-align: center;
}

.home-section {
  background-image: url("../images/Dusty-Particles.png");
  background-size: 100vw;
  background-attachment: fixed;
  background-color: black;
  background-repeat: no-repeat;
}

.home-section h2 {
  font-size: 90px;
  opacity: 70%;
  line-height: 1.5;
}

.home-section h5 {
  font-size: 16px;
  opacity: 65%;
}

.homepage-nav-links {
  margin-top: 50px;
}

.home-section a {
  margin-right: 10px;
  border: 3px transparent solid;
  border-left: 3px var(--primary-color) solid;
  border-right: 3px transparent solid;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  opacity: 60%;
  transition: all .25s ease-in-out;
}

.home-section a:hover {
  border: 3px var(--primary-color) solid;
  opacity: 75%;
}

.info-section {
  border-left: 5px var(--primary-color) solid;
  padding-left: 15px;
}

#top-left {
  width: 130px;
  position: absolute;
  left: 0;
  top: 0;
}

#bot-right {
  width: 130px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}

#profile-image {
  width: 180px;
  /* border-radius: 50%; */
  border-radius: 75% 25% 75% 25%;
  opacity: 75%;
  background: #ae303083;
}

#name {
  color: var(--primary-color);
  font-weight: bold;
}

@media (max-width: 768px) {
  .home-section h2 {
    font-size: 60px;
  }

  .home-section h5 {
    font-size: 13px;
  }

  .home-section a {
    font-size: 13px;
    margin-right: 6px;
    padding: 12px 14px;
  }

  #profile-image {
    width: 126px;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 11px;
  }

  .home-section h2 {
    font-size: 33px;
  }

  .home-section h5 {
    font-size: 11px;
  }

  .home-section a {
    border-left: 2px var(--primary-color) solid;
    font-size: 9px;
    margin-right: 2px;
    padding: 9px;
  }

  .home-section a:hover {
    border-left: 2px var(--primary-color) solid;
  }

  .info-section {
    border-left: 3px var(--primary-color) solid;
    padding-left: 5px;
  }

  #top-left,
  #bot-right {
    width: 90px;
  }

  #profile-image {
    width: 70px;
  }
}

@media (max-width: 320px) {
  footer {
    font-size: 9px;
  }

  .home-section h2 {
    font-size: 27px;
  }

  .home-section h5 {
    font-size: 9px;
  }

  .home-section a {
    font-size: 8px;
    padding: 7px;
  }

  #profile-image {
    width: 54px;
  }
}